.nav-link.active {
  border: none;
  color: #4e4f4e;

  background-color: rgb(232, 229, 229);

  border-radius: 8px;
  font-weight: 700;
  padding: 12px;
}

.nav-link {
  margin-right: 24px;
}

.user-photo {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%; /* Make the photo round */
}
